#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
  }

@media(max-width:1127px){
    #myVideo {
       max-width: 100%;
      }  
}





  