{% extends 'main.html' %}
{% load static %}
{% block content %}


<video autoplay muted loop id="myVideo">
    <source src="/static/images/bg.mp4" type="video/mp4">
</video>
<div class="main_content">
    <h1>Hotpot Family Restaurant</h1>
    <ul id="main_menu">
        <li class="rice">Rice</li>
        <li class="soup">Soup</li>
        <li class="noodles">Noodles</li>
    </ul>
    <div class="rice_menu ">
        <div>
            <h2>Chinese rice</h2>
            <img src="/static/images/rice.jpg" alt="">
            <h3>S - Rs.300/= | M - Rs.500 | L - Rs.700/=</h3>
        </div>
        <div>
            <h2>Japanese rice</h2>
            <img src="/static/images/rice1.jpg" alt="">
            <h3>S - Rs.400/= | M - Rs.600 | L - Rs.800/=</h3>
        </div>
        <div>
            <h2>Nasigoorang</h2>
            <img src="/static/images/rice2.jpg" alt="">
            <h3>S - Rs.500/= | M - Rs.700 | L - Rs.900/=</h3>
        </div>
        <div>
            <h2>Mongolian rice</h2>
            <img src="/static/images/rice3.jpg" alt="">
            <h3>S - Rs.600/= | M - Rs.800 | L - Rs.1000/=</h3>
        </div> 
    </div>
    <div class="soup_menu ">
        <div>
            <h2>Potato soup</h2>
            <img src="/static/images/soup.jpg" alt="">
            <h3>S - Rs.200/= | M - Rs.400 </h3>
            
        </div>
        <div>
            <h2>Pumpkin roast soup</h2>
            <img src="/static/images/soup1.jpg" alt="">
            <h3>S - Rs.300/= | M - Rs.600 </h3>
        </div>
        <div>
            <h2>Pumpkin soup</h2>
            <img src="/static/images/soup2.jpg" alt="">
            <h3>S - Rs.350/= | M - Rs.700 </h3>
        </div>
        <div>
            <h2>Vegetable rice</h2>
            <img src="/static/images/soup3.jpg" alt="">
            <h3>S - Rs.400/= | M - Rs.800 </h3>
        </div> 
    </div>
    <div class="noodles_menu ">
        <div>
            <h2>Spagathi with chiken</h2>
            <img src="/static/images/noodles (1).jpg" alt="">
            <h3>S - Rs.800/= | M - Rs.900 | L - Rs.1000/=</h3>
        </div>
        <div>
            <h2>Spagathi with parmasen</h2>
            <img src="/static/images/noodles (2).jpg" alt="">
            <h3>S - Rs.900/= | M - Rs.1000 | L - Rs.1100/=</h3>
        </div>
        <div>
            <h2>Spagathi with blue cheese</h2>
            <img src="/static/images/noodles (3).jpg" alt="">
            <h3>S - Rs.1000/= | M - Rs.1100 | L - Rs.1200/=</h3>
        </div>
        <div>
            <h2>Noodles pasta</h2>
            <img src="/static/images/noodles (4).jpg" alt="">
            <h3>S - Rs.1100/= | M - Rs.1200 | L - Rs.1300/=</h3>
        </div>   
    </div>
    <div class="details">
        <p>We are open everyday 9.00 a.m to 11.00 p.m.</p>
        <p>You can deliver your favorite foods by whatsapp.</p>
        <p>Visit us - No.667/3,Galawila road,Homagama.</p>
        <div class="fb-page" data-href="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage">The Coder</a></blockquote></div>
    </div>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-213280eb-2f22-4f7b-8de7-f820059ddda2"></div>
    <p class="copyright">&copy;Copyright 2022 - Kavinda Dilhara</p>
</div>


{% endblock content %}