{% extends 'main.html' %}
{% load static %}
{% block content %}


<video autoplay muted loop id="myVideo">
    <source src="/static/images/bg.mp4" type="video/mp4">
</video>
<div class="main_content">
    <h1>Hotpot Family Restaurant</h1>
    <ul id="main_menu">
        <li class="rice">Rice</li>
        <li class="soup">Soup</li>
        <li class="noodles">Noodles</li>
    </ul>
    <div class="rice_menu ">
        <div>
            <h2>Chinese rice</h2>
            <img src="/static/images/rice.jpg" alt="">
        </div>
        <div>
            <h2>Japanese rice</h2>
            <img src="/static/images/rice1.jpg" alt="">
        </div>
        <div>
            <h2>Nasigoorang</h2>
            <img src="/static/images/rice2.jpg" alt="">
        </div>
        <div>
            <h2>Mongolian rice</h2>
            <img src="/static/images/rice3.jpg" alt="">
        </div> 
    </div>
    <div class="soup_menu ">
        <div>
            <h2>Potato soup</h2>
            <img src="/static/images/soup.jpg" alt="">
        </div>
        <div>
            <h2>Pumpkin roast soup</h2>
            <img src="/static/images/soup1.jpg" alt="">
        </div>
        <div>
            <h2>Pumpkin soup</h2>
            <img src="/static/images/soup2.jpg" alt="">
        </div>
        <div>
            <h2>Vegetable rice</h2>
            <img src="/static/images/soup3.jpg" alt="">
        </div> 
    </div>
    <div class="noodles_menu ">
        <div>
            <h2>Spagathi with chiken</h2>
            <img src="/static/images/noodles (1).jpg" alt="">
        </div>
        <div>
            <h2>Spagathi with parmasen</h2>
            <img src="/static/images/noodles (2).jpg" alt="">
        </div>
        <div>
            <h2>Spagathi with blue cheese</h2>
            <img src="/static/images/noodles (3).jpg" alt="">
        </div>
        <div>
            <h2>Noodles pasta</h2>
            <img src="/static/images/noodles (4).jpg" alt="">
        </div>   
    </div>
    
</div>


{% endblock content %}